<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @pattern.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @pattern.user_id %>
</p>

<%= link_to 'Edit', edit_pattern_path(@pattern) %> |
<%= link_to 'Back', patterns_path %>
